/* App.css */

/* Navigation */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 12px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
  margin-left: 5rem;
  left: 25rem;
}

nav ul li a:hover {
  background-color: #555;
}

/* Main Content Area */
.content {
  padding: 20px;
}


